@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "grotesk";
  src: local("SpaceGrotesk"),
    url("./fonts/SpaceGrotesk.ttf") format("truetype");
}

html {
  letter-spacing: 2px;
}

.container {
  max-width: 375px;
  margin: 0 auto;
}

.inner-container {
  max-width: 100%;
}

@media only screen and (min-width: 1440px){
  .container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .inner-container {
    max-width: 510px;
    margin: 0 auto;
  }  
}